---
CompileFlags:
  Compiler: "/usr/local/bin/clang++"
  Add: [-Wall, -Wextra, -I/usr/include/c++"]

Diagnostics:
  ClangTidy:
    Add:
      - performance-unnecessary-value-param
      - readability-magic-numbers

InlayHints:
  Designators: false
  Enabled: false
  ParameterNames: false
  DeducedTypes: false
